<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <% for(let i = 0;i < cards.length;i++) { %>
        <div style="border: 2px solid black;padding: 20px;margin: 100px;">
            <h2><%= cards[i].title %></h2>
            <% var date = new Date(cards[i].createdAt);%>
            <h3><%= date.getDate() %>/<%= date.getMonth()+1 %>/<%= date.getFullYear() %></h3>
            <p style="padding-top: 20px;"><%= cards[i].details %></p>
            <br>
            <a href="/<%= name %>/delete/<%= cards[i].title %>">Deletar</a>
        </div>
    <% } %>    

    <section style="display: none;">
        <form action="/<%= name %>/create-card" method="post">
            <input type="text" name="title">
            <input type="text" name="details">
            <input type="submit" value="criar">
        </form>
    </section>

    <button onclick="criar()">+</button>

    <script>
        function criar() {
            var section = document.querySelector('section');

            section.style.display = 'block';
        }
    </script>
</body>
</html>