<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;text-transform: capitalize;padding: 20px;"><%= name %></h1>

    <main>
        <% for(let i = 0;i < cards.length;i++) { %>
            <div style="border: 2px solid black;padding: 20px;">
                <h2><%= cards[i].title %></h2>
                <h3><%= cards[i].createdAt %></h3>
                <p style="padding-top: 20px;"><%= cards[i].details %></p>
                <br>
                <a href="/<%= name %>/delete/<%= cards[i].title %>">Deletar</a>
            </div>
        <% } %> 
    </main>
       

    <section style="display: none;">
        <form action="/<%= name %>/create-card" method="post">
            <input type="text" name="title" required>
            <input type="text" name="details" required>
            <input type="submit" value="criar">
        </form>
    </section>

    <button onclick="criar()">+</button>

    <script>
        function criar() {
            var section = document.querySelector('section');

            section.style.display = 'block';
        }
    </script>
</body>
</html>